<mat-toolbar>
   <span>My Todo App</span>
   <span class="spacer"></span>
   <span *ngIf="!isLogin" class="loginStatus">Not logged in</span>
  <span *ngIf="isLogin" class="loginStatus">Logged In</span>
   <button mat-icon-button (click)="home()">     
    <mat-icon fontIcon="home"></mat-icon>
   </button>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="sidenav">
<mat-drawer-container>
    <mat-drawer #drawer mode="side">
      <mat-list>
        <mat-list-item>
          <span *ngIf="!isLogin"><mat-icon>input</mat-icon><a (click)="signin()">Sign In</a></span>
          <span *ngIf="isLogin"><mat-icon>input</mat-icon><a (click)="signin()">Sign Out</a></span>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>developer_mode</mat-icon><a href="https://github.com/iamswaps" target="_blank">About Developer</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>      
    </mat-drawer-content>
</mat-drawer-container>
</div>