<mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
     <mat-icon>menu</mat-icon>
   </button>
   <span>My Todo App</span>
   <span class="spacer"></span>
   <button mat-icon-button (click)="home()">     
    <mat-icon fontIcon="home"></mat-icon>
   </button>
   <button mat-icon-button>
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="sidenav">
<mat-drawer-container>
    <mat-drawer #drawer mode="side" opened>
      <mat-list>
        <mat-list-item>
          <a (click)="signin()">Sign In</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a (click)="signup()">Create Account</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>      
    </mat-drawer-content>
</mat-drawer-container>
</div>