<h1 mat-dialog-title>Create new todo</h1>
<mat-dialog-content [formGroup]="createTodo">
        
      
        <mat-form-field>
            <mat-label>Write the todo</mat-label>
            <input matInput placeholder="Ex. Go to Gym" formControlName="todo">
        </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button (click)="save()" [disabled]="!createTodo.valid">
        <span *ngIf="creating"><mat-spinner [diameter]="30"></mat-spinner></span>
        <span *ngIf="!creating">Save</span>
    </button>
</mat-dialog-actions>

